body {
}

.staple-color {
    background-color: #26a69a;
    color: #ffffff;
    border-color: #00796B;
    font-weight: normal;
}

.staple-color-light {
    background-color: #B2DFDB;
    color: #ffffff;
}

.minor-color {
    background-color: #0097A7;
    color: #ffffff;
}

.header-link {
    color: #ff0000;
}


    .header-link > li > a:hover,
    .header-link > li > a:active {
        color: #ff0000;
    }

* {
    margin: 0;
    padding: 0
}

@media (min-width: 767px) {
    .main-container {
        overflow: auto;
        _display: inline-block;
        padding: 15px;
        overflow: hidden;
        background-color: #FFFFFF;
    }

    .container-right {
        width: 300px;
        float: right;
    }

    .container-left {
        margin-right: 320px;
    }

    .head-frame {
        padding: 5px;
    }

        .head-frame > hr {
            margin-left: 10px;
            margin-right: 10px;
        }

    .head-image {
        width: 150px;
        height: 150px;
        border-color: #ffffff;
        border-width: 10px;
        border-radius: 100px;
        border-style: solid;
        align-content: center;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
  
    .container-right {
        width: 100%;
    }

    .container-left {
        margin-right: 0px;
    }

    .search-frame {
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: #4db6ac;
        border-color: #4db6ac;
        width: 100%;
        align-content: center;
        color: #ffffff;
    }

    .head-frame {
        overflow: hidden;
        _display: inline-block;
        align-content: center;
        height: 100%;
    }

        .head-frame > hr {
            display: none;
        }

    .head-image {
        width: 80px;
        height: 80px;
        border-color: #ffffff;
        border-width: 4px;
        border-radius: 100px;
        border-style: solid;
        align-content: center;
        float: left;
        display: inline;
        margin-top: 10px;
        margin-left: 10px;
    }

    .head-message {
        float: unset;
        display: inline;
        margin-left: 120px;
    }
}

@media (min-width: 767px) {
    .search-frame {
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: #4db6ac;
        color: #ffffff;
        border-color: #4db6ac;
    }
}



.div-center {
    text-align: center;
}

.navbar-inverse {
    border-color: #080808;
}

    .navbar-inverse .navbar-brand {
        color: #dddddd;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #dddddd;
    }

.text-color-gray-dark {
    color: #808080;
}

.text-color-white {
    color: #ffffff;
}

.background-image-right-content {
    background-image: url(/Image/bg_right_content_2.jpg);
    background-size: cover;
}

.content-center {
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eeeeee;
}

.top-align {
    margin-top: 20px;
}

@media (min-width: 992px) {
    .frame-box-1 {
        height: 230px;
        background-color: #f0f0f0;
        border-color: #d0d0d0;
        border-width: 2px;
        border-radius: 20px;
        border-style: solid;
    }
}

.frame-box-1 {
    background-color: #f0f0f0;
    border-color: #d0d0d0;
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
}

.frame-box-2 {
    background-color: #f0f0f0;
    border-color: #d0d0d0;
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
}

.frame-box-top {
    border-width: 0px;
    border-color: none;
    border-bottom-color: #d0d0d0;
    border-bottom-width: 2px;
    border-style: solid;
}

.link-frame-box-top-title {
    margin: 10px;
}

.link-frame-box-top-more {
    margin: 10px;
}

.blog-write-input {
    height: 100%;
    min-height:500px;
    visibility: inherit;
    width: 100%;
    z-index: 1;
    border-color: #d0d0d0;
    border-width: 4px;
    border-radius: 5px;
    border-style: solid;
}

.overwrite-form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    .overwrite-form-control.fc-large {
        height: 40px;
    }

    .overwrite-form-control.fc-medium {
        height: 34px;
    }

    .overwrite-form-control.fc-small {
        height: 28px;
    }

    .overwrite-form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .overwrite-form-control[disabled],
    .overwrite-form-control[readonly],
    fieldset[disabled] .overwrite-form-control {
        cursor: not-allowed;
        background-color: #eeeeee;
    }