body {
}

.staple-color {
    background-color: #26a69a;
    color: #ffffff;
    border-color: none;
    font-weight: normal;
}

.staple-color-light {
    background-color: #B2DFDB;
    color: #ffffff;
}

.minor-color {
    background-color: #0097A7;
    color: #ffffff;
}

.header-link {
    color: #ff0000;
}


    .header-link > li > a:hover,
    .header-link > li > a:active {
        color: #ff0000;
    }

* {
    margin: 0;
    padding: 0
}

@media (min-width: 767px) {
    .main-container {
        overflow: auto;
        _display: inline-block;
        padding: 15px;
        overflow: hidden;
        background-color: #FFFFFF;
    }

    .container-right {
        width: 300px;
        float: right;
    }

    .container-left {
        margin-right: 320px;
    }

    .head-frame {
        padding: 5px;
    }

        .head-frame > hr {
            margin-left: 10px;
            margin-right: 10px;
        }

    .head-image {
        width: 150px;
        height: 150px;
        border-color: #ffffff;
        border-width: 10px;
        border-radius: 100px;
        border-style: solid;
        align-content: center;
        margin-top: 10px;
    }
}
.head-search-transition {
    transition: margin 0.4s, float 0.4s,padding 0.4s,background-color 0.4s,width 0.4s,height 0.4s;
}
.head-search-frame {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: auto;
    border-radius: 20px;

}
.head-search-frame:hover {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: auto;
    border-radius:20px;
}
    .head-search-frame:hover > div {
        width: 40px;
        height: 40px;
        z-index: 2;
        float: right;
    }

    .head-search-frame:hover > input {
        align-content: center;
        width: 248px;
        height: 40px;
        z-index: 1;
        float: left;
        display: inherit;
        border-radius: 20px;
        padding-left: 10px;
    }

.head-search-btn {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 3;
    float: left;
}


.head-search-input {
    position:absolute;
    width: 0px;
    height: 40px;
    z-index: 1;
    float: right;
    display: none;
    border-radius: 20px;
        outline: 0 !important
}
    .head-search-input:focus {
        align-content: center;
        width: 290px;
        height: 40px;
        z-index: 3;
        float: left;
        display: inherit;
        padding-left:10px;
    }

@media (max-width: 767px) {
    .container-right {
        width: 100%;
    }

    .container-left {
        margin-right: 0px;
    }

    .search-frame {
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: #4db6ac;
        border-color: #4db6ac;
        width: 100%;
        align-content: center;
        color: #ffffff;
    }


    .head-frame {
        overflow: hidden;
        _display: inline-block;
        align-content: center;
        height: 100%;
    }

        .head-frame > hr {
            display: none;
            margin:10px;
        }

    .head-image {
        width: 80px;
        height: 80px;
        border-color: #ffffff;
        border-width: 4px;
        border-radius: 100px;
        border-style: solid;
        align-content: center;
        float: left;
        display: inline;
        margin-top: 10px;
        margin-left: 10px;
    }

    .head-message {
        width: 100%;
        padding-left: 100px;
        padding-top: 10px;
    }
}

@media (min-width: 767px) {
    .search-frame {
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: #4db6ac;
        color: #ffffff;
        border-color: #4db6ac;
    }
}



.div-center {
    text-align: center;
}

.navbar-inverse {
    border-color: none;
}

    .navbar-inverse .navbar-brand {
        color: #dddddd;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #dddddd;
    }

.text-color-gray-dark {
    color: #808080;
}

.text-color-white {
    color: #ffffff;
}

.background-image-right-content {
    background-image: url(/Image/bg_right_content_2.jpg);
    background-size: cover;
}

    .background-image-right-content:hover {
        background-image: url(/Image/bg_right_content_2_blurry.jpg);
        background-size: cover;
    }

.content-center {
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eeeeee;
}

.top-align {
    margin-top: 20px;
}



.card-shadow {
    -webkit-transition: border-color ease-in-out 6s, box-shadow ease-in-out 6s;
    transition: border-color ease-in-out 6s, box-shadow ease-in-out 6s;
    transition: margin 0.4s,padding 0.4s,background-color 0.4s,background-image 0.4s;
    /*对象选择器 {text-shadow:投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色}*/
    -webkit-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.075), 0 3px 16px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.075), 0 3px 16px rgba(0, 0,0, 0.4);
}

    .card-shadow.cs-small-light {
        /*对象选择器 {text-shadow:投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色}*/
        -webkit-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.075), 0 3px 10px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.075), 0 3px 10px rgba(0, 0,0, 0.3);
    }

    .card-shadow.cs-small-dark { /*对象选择器 {text-shadow:投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色}*/
        -webkit-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.075), 0 3px 10px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.075), 0 3px 10px rgba(0, 0,0, 0.4);
    }

    .card-shadow.cs-large-light { /*对象选择器 {text-shadow:投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色}*/
        -webkit-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.075), 0 3px 20px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.075), 0 3px 20px rgba(0, 0,0, 0.3);
    }

    .card-shadow.cs-large-dark { /*对象选择器 {text-shadow:投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色}*/
        -webkit-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.075), 0 3px 20px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.075), 0 3px 20px rgba(0, 0,0, 0.4);
    }

.frame-box-1,
.frame-box-2, 
.frame-box-title,
.frame-box-normal{
    padding: 5px;
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    border-width: 0px;
    border-radius: 4px;
    border-style: solid;
}

.frame-box-2,
.frame-box-title,
.frame-box-normal {
    margin-bottom: 10px;
}
.frame-box-title {
    background-color: #b2dfdb;
}.frame-box-3,
    .frame-box-4 {
        background-color: #f0f0f0;
        border-color: #d0d0d0;
        border-width: 0px;
        border-radius: 4px;
        border-style: solid;
        padding: 5px;
    }

    .frame-box-2:hover,
    .frame-box-3:hover,
    .frame-box-4:hover {
        padding: 10px;
        margin: -5px;
        background-color: #ffffff;
        border-color: #f7f7f7;
        border-width: 0px;
        border-radius: 4px;
        border-style: solid;
        cursor: pointer;
        margin-bottom: 5px;
    }

.frame-box-2:hover {
    
}

.frame-box-3:hover {
    margin-right: 0px;
}

.frame-box-4:hover {
    margin-left: 0px;
}

.frame-box-2 > h2,
.frame-box-3 > h2,
.frame-box-4 > h2 {
    color: darkcyan;
    font-family: 'Microsoft YaHei';
}


@media (min-width: 992px) {
    .frame-box-3 {
        margin-right: 5px;
    }

    .frame-box-4 {
        margin-left: 5px;
    }

    .frame-box-frame {
        float: left;
        width: 50%;
    }

    .frame-box-top-align {
        float: left;
    }

        .frame-box-top-align.fb-margn {
            margin-top: 20px;
        }
}

@media (max-width: 992px) {
    .frame-box-3 {
        margin-bottom: 10px;
    }
        .frame-box-3:hover {
            padding: 10px;
            margin: -5px;
            margin-right: -5px;
            margin-bottom: 5px;
        }

    .frame-box-4:hover {
        padding: 10px;
        margin: -5px;
        margin-left: -5px;
        margin-bottom: 5px;
    }
    .frame-box-top-align.fb-margn {
        margin-top: 20px;
    }
}


.frame-box-top {
    border-width: 0px;
    border-color: none;
    border-bottom-color: #d0d0d0;
    border-bottom-width: 2px;
    border-style: solid;
}

.link-frame-box-top-title {
    margin: 10px;
}

.link-frame-box-top-more {
    margin: 10px;
}

.blog-input-title {
    padding: 5px;
    background-color: #f7f7f7;
}
.blog-write-input {
    height: 100%;
    min-height: 500px;
    visibility: inherit;
    width: 100%;
    z-index: 1;
    border-color: #f7f7f7;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
}

.overwrite-form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    .overwrite-form-control.fc-large {
        height: 40px;
    }

    .overwrite-form-control.fc-medium {
        height: 34px;
    }

    .overwrite-form-control.fc-small {
        height: 28px;
    }

    .overwrite-form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .overwrite-form-control[disabled],
    .overwrite-form-control[readonly],
    fieldset[disabled] .overwrite-form-control {
        cursor: not-allowed;
        background-color: #eeeeee;
    }

.title-text-align {
    color: darkcyan;
    font-family: 'Microsoft YaHei';
}
    .title-text-align.tta-total {
        font-size: 30px;
        text-align: center;
    }
    .title-text-align.tta-center {
        font-size: 20px;
        text-align: center;
    }

    .title-text-align.tta-left {
        font-size: 20px;
        text-align: left;
    }

    .title-text-align.tta-right {
        font-size: 20px;
        text-align: right;
    }

    .title-text-align.tta-bottom {
        margin-top: -10px;
        margin-bottom: -10px;
        font-size: 40px;
        text-align: center;
    }

.overwrite-btn {
    width: 40px;
    height: 40px;
}

    .overwrite-btn.obtn-link {
        border-radius: 20px;
        border-style: solid;
        border-width: 0px;
        display: inline-block;
    }

        .overwrite-btn.obtn-link.obtn-link-weibo {
            background-color: #eead0e;
        }

        .overwrite-btn.obtn-link.obtn-link-email {
            background-color: #4876FF;
        }

        .overwrite-btn.obtn-link.obtn-link-github {
            background-color: #202020;
        }
        .overwrite-btn.obtn-link.obtn-link-search {
            background-color: #5677fc;
        }
        .overwrite-btn.obtn-link.obtn-link-qq {
            background-color: #E91E63;
        }
        .overwrite-btn.obtn-link.obtn-link-weibo :hover {
            background-color: #DE9D00;
            border-radius: 20px;
        }

        .overwrite-btn.obtn-link.obtn-link-email :hover {
            background-color: #3866EF;
            border-radius: 20px;
        }

        .overwrite-btn.obtn-link.obtn-link-github :hover {
            background-color: #101010;
            border-radius: 20px;
        }
        .overwrite-btn.obtn-link.obtn-link-qq :hover {
            background-color: #D90e53;
            border-radius: 20px;
        }
        .overwrite-btn.obtn-link.obtn-link-search :hover {
            background-color: #4667ec;
            border-radius: 20px;
        }
.btn-ic {
    width: 40px;
    height: 40px;
    text-align:center;
    padding:10px;
}

.btn-group-frame {
    height: 50px;
    width: 25%;
    float: left;
}
